@model WebApplicationMVC.Models.ContattoModel

<h1>Pagina di contatto</h1>

<div class="row">
    <div class="col-md-6">
        <p>
            @Model.Nome  @Model.Cognome
        </p>

    </div>
    <div class="col-md-6">
        <p>
            @Model.Eta 
        </p>

    </div>
</div>